config service 'main'
	option enabled '1'
	option country 'EU'
	option bind_address '127.0.0.1:18080'
	option socks_mode '0'
	option verbosity '20'
	option timeout '10s'
	option init_retries '0'
	option init_retry_interval '5s'
	option refresh '4h'
	option refresh_retry '5s'
	option server_selection 'fastest'
	option server_selection_timeout '30s'

	# optional:
	# option proxy 'socks5://127.0.0.1:1080'
	# option api_proxy 'http://127.0.0.1:8080'
	# option cafile '/etc/ssl/certs/ca-certificates.crt'
	# option fake_sni ''
	# option override_proxy_address ''
